@{
	ViewData["Title"] = "!About!";
}
<h1>This is About page</h1>
<h3>@this.ViewBag.Message</h3>
<div>
	<ol>
		<li>
			<a class="text-secondary" href="~/pdf/Pb-Cert.pdf">Programming Basic - May 2021</a>
		</li>
		<li>
			<a class="text-secondary" href="~/pdf/Fund-Cert.pdf">Programming Fundamentals - September 2021</a>
		</li>
		<li>
			<a class="text-secondary" href="~/pdf/Advanced-Cert.pdf">Programming Advanced - January 2022</a>
		</li>
		<li>
			<a class="text-secondary" href="~/pdf/OOP-Cert.pdf">Programming C# OOP - February 2022</a>
		</li>
		<li>
			<a class="text-secondary" href="~/pdf/MS SQL-Cert.pdf">MS SQL - May 2022</a>
		</li>
		<li>
			<a class="text-secondary" href="~/pdf/Entity Framework Core.pdf">Entity Framework Core - June 2022</a>
		</li>
	</ol>
</div>