@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-opacity-50 text-success" >
    <h1 class="display-4">Welcome on my Web page</h1>
    <p class="border-bottom">Learn about me <a href="https://github.com/AtanaSoft88"> following my personal Github web page!</a>.</p>
</div>
