<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page(localhost)</title>
    <link rel="stylesheet" href="~/wwwroot/css/style.css">
</head>
<body>

    <div class="index-div bg-blur border border-white">
        <h1>Wellcome to "My first App Home Page!"</h1>
        <hr class="bg-primary w-75">
        <h3>This is the entry point of my Application.</h3>
        <h3>Feel free to register in my website or if you already have an account - have a nice surf!</h3>
        <h3>Where is my Favicon!?!</h3>

    </div>

</body>
</html>